* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #C0C0C0;
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-areas:
    "H"
    "B"
    "F";
    grid-template-rows:15% 75% 10%;
}

h1 {
    grid-area: H;
    display: flex;
    background-color: #2F4F4F;
    padding: 1rem 2rem;
    place-content: center;
    font-size: 30px;
    color: #DCDCDC;
    width: fill-available;
}

main {
    width: 100vw;
    grid-area: B;
    font-size: 20px;
    align-items: center;
}

.maininfo {
    margin-left: auto;
    margin-right: auto;
}

P {
    text-align: center;
}

input, textarea {
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    width: 80%;
    box-sizing: border-box;
    margin: 9px 0px;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

textarea{
    height: 30%;
}

input[type=submit] {
    width: 20%;
    margin-left: 40%;
    margin-right: 40%;
}

#foot {
    display: flex;
    background-color: #2F4F4F;
    grid-area: F;
    width: fill-available;
    align-items: center;
}

#font {
    color: #DCDCDC;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    width: auto;
}

@media screen and (max-width: 600px){
    input, textarea{
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    input[type=submit] {
        width: 30%;
        margin-left: 35%;
        margin-right: 35%;
    }
}