* {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: #C0C0C0;
    font-family: 'Roboto Slab', serif;
    display: grid;
    grid-template-areas:
    "H"
    "B"
    "F";
    grid-template-rows:15% 75% 10%;
}

h1 {
    grid-area: H;
    display: flex;
    background-color: #2F4F4F;
    padding: 1rem 2rem;
    place-content: center;
    font-size: 30px;
    color: #DCDCDC;
    width: fill-available;
}

main {
    width: 100vw;
    grid-area: B;
    justify-self: center;
    font-size: 20px;
  }

#foot {
    display: flex;
    background-color: #2F4F4F;
    grid-area: F;
    width: fill-available;
    align-items: center;
}

#font {
    color: #DCDCDC;
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    width: auto;
}